body {
  background-image: url(background2.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}

.starter-template {
  color: #7d7b7b;
  font-family: sans-serif
}

.container {
  padding: 15px;
  margin-top: 12%;
  justify-content: center;
}

h1, .title {
  color: #2e415e;
  font-size: 30px;
  font-weight: 500;
  padding-top: 10px;
  margin: 0;
  margin-top: 30px;
  text-transform: uppercase;
  border-bottom: 2mm solid #3f5762;
  border-radius: 8px;
  font-family: monospace;
  letter-spacing: 0.5mm;
	border: 2px solid radial-gradient(#384d7c, #2e415e);
	background-color: rgba(195, 195, 195, 0.5);
}

.title {
  display: block;
  margin: 0 0 18px;
}

h4 {
  font-weight:bold;
  margin:15px;
}

.listdesign > li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.listdesign > li, h1 {
  clear: both;
  list-style: none;
}

.line_underneath {
  border-bottom: 2px solid #133da8;
  margin-bottom: 0px;
}

.resultContainer {
  flex-direction: column;
  display: flex;
  margin: auto;
  overflow-wrap: break-word;
}

.eachResult{
  margin-top: 15px;
  background-color: rgb(164, 166, 168);
  color: rgb(31, 29, 29);
  border-left: 10px solid #2b4260;
}

.deleteAndDoneButton {
  margin-top: 10px;
}
