/* Entête */
h1, label[for='add-task'] {
  color: #133da8;
  font-size: 30px;
  font-weight: 500;
  padding: 30px 0 0px;
  margin: 0;
  text-transform: uppercase;
  border-bottom: 2mm solid #3f5762;
  border-radius: 8px;
  font-family: monospace;
  letter-spacing: 0.5mm;
}

/*
input[type="text"], input[type="date"] {
  font-size: 15px;
  height: 15px;
  line-height: 20px;
  margin: 10px;
  padding: 10px;
  border: 3px solid #133da8;
  background: white;
  border-radius: 8px;
  font-family: sans-serif;
  display: block;
  float: none;
  color: #333;
  width: 200px;
}

input[type="text"]:focus, input[type="date"]:focus {
  border-color: blue;
}
*/

/* Nouvelle tâche */
label[for='add-task'] {
  display: block;
  margin: 0 0 18px;
}

input#add-task {
  float: left;
  width: 300px;
}

form>button:hover {
  color: #1f64ff;
}

/*Todo List*/
.taskitem {
  overflow: auto;
  border-bottom: 2px solid grey;
  padding: 20px 0;
}


li>input[type="checkbox"] {
  position: relative;
  top: 15px;
  margin: 0 10px;
}

li>.delete:hover {
  color: #bb0909;
}

li>input[type="text"] {
  width: 200px;
}

li>label {
  font-size: 18px;
  width: 220px;
  padding: 0 0 0 10px;
  line-height: 35px;
}

/*Accomplies*/
#completed-tasks label {
  color: black;
  text-decoration: line-through;
}

/*Corps principal*/
body {
  background: linear-gradient(black, #1f1f20);
}

.starter-template {
  color: #7d7b7b;
  font-family: sans-serif
}

.container {
  padding: 15px;
  margin-top: 12%;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
}

li, h1 {
  clear: both;
  list-style: none;
}

li * {
  float: left;
}
