body {
   padding-top: 70px;
   color: white;
   background-color: black;
   background-image: url(red-bg.png);
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center top;

}

.content {
  width: 70%;
  color: white;
}

.content .left, .content .right {
  display: inline-block;
}

.content .left {
  float: left;
  width: 45%;
}

.content .right {
  float: right;
  width: 45%;
}
/*Bouton*/
#clicktoadd {

}
